language: r
r:
  - bioc-release
sudo: true
cache: packages
bioc_required: true
bioc_use_devel: true
warnings_are_errors: false

os:
  - linux
  - osx
osx_image: xcode9

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -q ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libc6 libc6-dev ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then Rscript -e 'install.packages("nlme", lib="/home/travis/R-bin/lib/R/library/")'; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then Rscript -e 'install.packages("roxygen2", lib="/home/travis/R-bin/lib/R/library/")'; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then Rscript -e 'install.packages("R6", lib="/home/travis/R-bin/lib/R/library/")'; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
  - if [[ "$TRAVIS_R_VERSION_STRING" = 'bioc-devel' ]]; then mkdir ~/.R && echo 'CXX1X=g++ -std=c++0x -g -O2 -fPIC' > ~/.R/Makevars; fi

r-packages:
  - testthat
  - knitr
  - markdown
  - DBI
  - RSQLite
  - R6

bioc_packages:
  - BiocStyle
  - GenomicRanges
  - Biobase
  - affy
  - EDASeq
  - edgeR
  - biomaRt
  - IRanges
  - supraHex
  - S4Vectors
  - ComplexHeatmap
  - SummarizedExperiment
  - BiocGenerics
  - GenomicFeatures
  - TxDb.Hsapiens.UCSC.hg19.knownGene
  - limma
  - genefilter
  - ConsensusClusterPlus
  - pathview
  - clusterProfiler
  - BiocCheck
  - fgsea
  - GO.db
  - DO.db
  - org.Hs.eg.db

r_github_packages:
  - eddelbuettel/digest
  - kevinushey/rex
  - kevinushey/later
  - jimhester/crayon
  - edwindj/whisker
  - jimhester/withr
  - jimhester/covr


after_script:
  - ls -lah
  - FILE=$(ls -1t *.tar.gz | head -n 1)
  - Rscript -e "library(BiocCheck); BiocCheck(\"${FILE}\")

after_success:
  -  Rscript -e 'library(covr);codecov()'

r_build_args: --no-build-vignettes --no-manual --no-resave-data
r_check_args: --no-build-vignettes --no-manual

notifications:
  slack: omics-team:mp8k727GslFLZPQrmuvOkCcc
  email: false
