# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'
        iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
  ps: Bootstrap

# Adapt as necessary starting from here

build_script:
  - travis-tool.sh install_bioc_deps
  - travis-tool.sh install_bioc BiocStyle GenomeInfoDbData GenomicRanges Biobase affy EDASeq edgeR biomaRt IRanges supraHex S4Vectors ComplexHeatmap SummarizedExperiment DO.db BiocGenerics GenomicFeatures TxDb.Hsapiens.UCSC.hg19.knownGene limma genefilter ConsensusClusterPlus pathview clusterProfiler
  - travis-tool.sh install_deps
  - travis-tool.sh install_github tiagochst/ELMER.data

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

environment:
  matrix:
    - R_VERSION: release
      R_ARCH: x64

  _R_CHECK_FORCE_SUGGESTS_: false

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
- provider: Email
  to:
  - tiagochst@gmail.com
  on_build_success: false
