.html-widget {
  margin-bottom: 1em;
}
h1 .header-section-number::after {
  content: ".";
}
th {
    background-color: #336699;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table td {
    padding: 3px 10px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
