.html-widget {
  margin-bottom: 1em;
}
h1 .header-section-number::after {
  content: ".";
}

@media only screen and (max-width: 1540px) {
    body {
       zoom: 0.9;  /* all browsers */
       -moz-transform: scale(0.9);  /* Firefox */
    }
}
img {
    margin-top: 0.3cm;
    margin-right: 0.3cm;
}
body {
    background-color: #fff;
}
.small-box .icon-large {
    color: rgba(255, 255, 255, 0.15);
}

.navbar  {
    background: #000080
}

h1.title {
    font-size: 30px;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #e74c3c;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #e74c3c;
    background-color: transparent;
}
